body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f7fa;

    font-family: Arial, Helvetica, sans-serif
}
div {
    display: flex;
    flex-direction: column;

    box-shadow: 0 0 0 4px rgba(52, 152, 219, 0.2);
    background-color: #c3cfe2;

    display: grid;
    grid-template-rows: 15% 60% 20%;
}

.div_register {
    width: 400px;
    height: 700px;
    border-radius: 10px;

    display: grid;
    grid-template-rows: 20% 80%;

}
section[type="title"]{
    gap: 0px ;
}

.div_login {
    width: 400px;
    height: 500px;
    border-radius: 10px;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

.top_sectiom {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:not([class]) {
    color: #667eea;
}

a {
    text-decoration:none;
    color: #667eea;
}

a:hover {
    text-decoration:underline;
    color: #667eea;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 95%;
}

span {
    display: flex;
    flex-direction: row;
}

svg { 
    max-width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
    color: #333;
}

button[type="submit"] {
    width: 80%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #764ba2;
    color: #333;
}

input:focus {
  border-color: #3498db;
  outline: none;
}

button:hover {
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
}

select {
    width: 80%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #f5f7fa;
    color: #333;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

svg {
    max-width: 100%;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0 ;
}

.reg_top_sec {
    grid-row:1;
}
.reg_main_sec {
    grid-row:2 ;
}

.login_top_sec {
    grid-row: 1;
}

.login_main_sec {
    grid-row: 2;
}

.login_bottom_sec {
    grid-row: 3;
}