body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    display: flex;
    flex-direction: column;
    
    background-color: aqua;
    width: 400px;
    height: 700px;
    border-radius: 10px;
}

h1 {
    display: flex;
    justify-content: center;

}

h2 {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}
svg { 
    max-width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
    color: #333;
}

input:focus {
  border-color: #3498db;
  outline: none;
}

button:focus {
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
}
